//
   Created by Banzai on 06/07/15.

extends layout

block content
   h1 Register
   p Please register using the form below
   form(method='post',action='/users/register',enctyoe='multipart/form-data')
      .form-group
         label Name
         input.form-control(name='name', type='text', placeholder='Enter Name')